In [1]:
#dependencies and setup
import pandas as pd
import os
import numpy as np

In [2]:
#Read CSV and store into Pandas df
purchase_df = pd.read_csv('Resources/purchase_data.csv')
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
##Display the total number of players
total_players = len(purchase_df["SN"].unique())
total_players

576

In [4]:
total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [5]:
## Purchasing Analysis (Total)

In [6]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_df["Item Name"].unique())
unique_items

179

In [7]:
average_price = purchase_df["Price"].mean()
average_price

3.050987179487176

In [8]:
number_of_purchases = purchase_df["SN"].count()
number_of_purchases

780

In [9]:
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [10]:
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Price":[average_price],
                          "Number of Purchases":[number_of_purchases],
                          "Total Revenue":[total_revenue] })
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [11]:
### Gender Demographics

In [12]:
gender_stats = purchase_df.groupby("Gender")

In [13]:
total_players = len(purchase_df["SN"].unique().tolist())
total_players

gender_data=(purchase_df.groupby('Gender').nunique())["SN"]
gender_data

gender_per = gender_data / total_players * 100
gender_per

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [14]:
gender_stats = pd.DataFrame({"Percent of Players": gender_per,
                                   "Total Count": gender_data})
gender_stats = gender_stats.style.format({"Percent of Players":"{:,.2f}%"})

gender_stats

In [15]:
# Purchasing Analysis (Gender)

In [16]:
#recall "genderStats"
gender_stats = purchase_df.groupby("Gender")

In [17]:
purchase_count = gender_stats["Purchase ID"].count()
purchase_count

# Average purchase prices by gender
avg_price = gender_stats["Price"].mean()
avg_price

# Average purchase total by gender 
avg_purchase_total = gender_stats["Price"].sum()
avg_purchase_total

# Average purchase total by gender divivded by total players
avg_per_person = avg_purchase_total/total_players

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_per_person})

# Optional: give the displayed data cleaner formatting
# Display the summary data frame
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [18]:
# Age Demographics

In [19]:
# Establish bins for ages

ages_bin = [0, 9, 14, 19, 24, 29, 34, 39, 100]
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [20]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_df["Age Groups"] = pd.cut(purchase_df["Age"],ages_bin, labels=categories)
purchase_df

# Calculate the numbers and percentages by age group
age_groups = purchase_df.groupby("Age Groups")

total_age = age_groups["SN"].nunique()

Percent_by_age = (total_age/total_players)*100

# Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Total Count": total_age,
                         "Percentage of Players":Percent_by_age})
age_demo.index.name = None

age_demo.style.format({"Percentage of Players":"{:,.2f}"})

In [21]:
# Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [22]:
# Establish bins for ages

ages_bin = [0, 9, 14, 19, 24, 29, 34, 39, 100]
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
# Count purchases by age group
purchase_count_age = age_groups["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_groups["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_groups["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_age

# Create data frame with obtained values
age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demo.index.name = None

# Format with currency style
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [24]:
# Top Spenders

In [25]:
# Group purchase data by sn
spender_stats = purchase_df.groupby("SN")
spender_stats

In [26]:
#purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()
purchase_count_spender

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [27]:
# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

In [28]:
# Calculate the avg purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

In [29]:
# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [30]:

#      Most Popular Items

In [31]:
# Create new data frame with items related information 
items = purchase_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [32]:
#Most Profitable Items

In [33]:
#most popular dataframes and sort
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})